@tailwind utilities;

:root {
  --background: #fffdf8;
  --font-pretendard: 'Pretendard Variable', sans-serif;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#__next,
main {
  width: 100%;
}

body {
  background: var(--background);
  font-family: var(--font-pretendard);
  margin: 0;
  box-sizing: border-box;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  -width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
